@use '../base/variables' as v;
@use '../base/mixins' as m;

.productos-container {
	background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 80%;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-direction: row;
    width: 80%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2{
        text-align: center;
        width: 100%;
    }
}

.producto-card {
	border: 1px solid #11101d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 300px;

	img {
		width: 100%;
		height: auto; /* Ajusta la altura automáticamente según el ancho */
		max-height: 150px; /* Establece una altura máxima para las imágenes */
		object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarla */
	}

}

.producto-info {
	display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;

    .presentacion{
        border-bottom: 1px solid #ccc;
        padding-bottom: 1.5rem;
        border-top: 1px solid #ccc;
        padding-top: 1.5rem;
        text-align: center;
    }

	h3 {
        font-size: 2.6rem;
        margin: 1rem 0rem;
        color: v.$azulPrincipal;
        overflow: hidden;
        text-overflow: ellipsis; /* Recortar texto largo con puntos suspensivos */
        white-space: nowrap; /* Evitar que el texto se ajuste automáticamente */
        max-height: 3.2rem; /* Altura máxima para el título */
    }

    p {
        margin-bottom: 0px;
        color: v.$azulPrincipal;
        flex: 1;
        text-overflow: ellipsis;
        max-height: 6.4rem;
        flex: 1;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 1.8rem;

        span{
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    
}

.clear-button{
    color: #000;
    display: block;
    font-size: 1.7rem;
    font-weight: 700;
    position: absolute;
    right: 0rem;
    top: 2.8rem;
    cursor: pointer;
    padding: 1.5rem;
    border-left: 1px solid black;
}

.campo-buscar{
    border-radius: .5rem;
    border: 1px solid #000;
    color: #1a1b15;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    margin-top: 1rem;
    outline: none;
    padding: 0 15px;
    width: 100%;
}

.display-buscador{
    display: flex;
    justify-content:flex-end;
    padding: 10px 25px 10px 0px;
}

.buscador{
    margin-bottom:0rem;
    height: 5rem;
}

// .boton-accion {
//     background-color: v.$azulPrincipal;
//     color: white;
//     border: none;
//     padding: 8px 12px;
//     cursor: pointer;
//     border-radius: 5px;
//     &:hover {
//         background-color: #0056b3;
//     }
// }

.agregar-carrito {
    padding: 1rem;
    margin: 0rem;

    .input-carrito {
        height: 5rem;
    }
}

.agrega-carrito {
    width: 100%;

	&.incremento{
        height: 5rem; 
        width: 5rem;
		&:hover {
			background-color: v.$verdeLima;
			border: none;
			color: v.$azulPrincipal;
		}
	}

	&.decremento{
        height: 5rem; 
        width: 5rem;
		&:hover {
			background-color: v.$rojo;
			border: none;
			color: v.$azulPrincipal;
		}
		
	}
}
